html{
	background-image: url("../images/forestback.jpg");
	background-size: cover;
	cursor: none;
	cursor: url(../cursor/leaf.cur),auto;
}

#label{
	font-size: 60px;
	color: #66ff66;
	-webkit-text-stroke: 1px #008000;
	padding-top: 100px;
}
#button{
	font-family: "Times New Roman";
	height: 60px;
	width: 200px;
    border-radius: 15px;
	font-size: 43px;
	background-color: #00b300;
	border-width: 5px;
	border-style: outset;
}
#button:hover{
 background-color: #ccffcc;
 border-style: inset;
 border-color: #8c8c8c;
 color: #000000;
 cursor: url(../cursor/alter.cur),auto;

}
