html{
	background-image: url("../images/frostback.jpg");
	background-size: cover;
	cursor: none;
	cursor: url(../cursor/ice.cur),auto;
}

#label{
	font-size: 60px;
	color: #0066ff;
	-webkit-text-stroke: 1px #fff;
	padding-top: 100px;
}
#button{
	font-family: "Times New Roman";
	height: 60px;
	width: 200px;
    border-radius: 15px;
	font-size: 43px;
	background-color: #80bfff;
	border-width: 5px;
	border-style: outset;
}
#button:hover{
 background-color: #c1c1f0;
 border-style: inset;
 border-color: #8c8c8c;
 color: #000000;
 cursor: url(../cursor/iceselect.cur),auto;

}
