h1{
	color: #99ccff;
	font-size: 100px;
	-webkit-text-stroke: 2px black;
}
body{
	animation: back 5s;
	-webkit-animation: back 5s infinite;
}

@keyframes back {

	0% {background-color: #ffccff;}
	20% {background-color:   #ffcccc;}
	40% {background-color: #ccccff;}
	60% {background-color: #ccccff;}
	80% {background-color:  #ffcccc; }
	100% {background-color: #ffccff;}
}
 #home {
     width: 0;
     height: 0;
     border-top: 20px solid transparent;
     border-right:40px solid red;
     border-bottom: 20px solid transparent;
     position: absolute;
   }